<div class="nav-container">
    <MudNavMenu>
        <MudNavLink Href="" Match="NavLinkMatch.All"
                    Icon="@Icons.Material.Filled.Home">
            Home
        </MudNavLink>
        <MudNavLink Href="youtube"
                    Icon="@Icons.Material.Filled.PlayCircleFilled">
            Player
        </MudNavLink>
        <MudNavLink Href="test"
                    Icon="@Icons.Material.Filled.Settings">
            Test
        </MudNavLink>
    </MudNavMenu>
</div>
