.nav-container {
    padding-top: 0.5rem;
}

::deep .mud-nav-link {
    color: rgba(255, 255, 255, 0.7) !important;
}

::deep .mud-nav-link:hover {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

::deep .mud-nav-link.active {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.37) !important;
}

::deep .mud-nav-link-icon {
    color: rgba(255, 255, 255, 0.85) !important;
}
